body {
  background-color: #001519;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Kanit", sans-serif;
}

h1 {
  color: white;
  text-shadow: 2px 2px 2px #fe53bb;
  font-size: 4rem;
}

.genre-btns-container {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .genre-btns-container {
    width: 50%;
  }
}

.genre-btns-container button {
  border: 3px solid #fe53bb;
  color: #fe53bb;
  background-color: #840151;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 5px;
  font-family: "Kanit", sans-serif;
}

.genre-btns-container button:hover {
  border-color: #fe86cf;
  color: #fe86cf;
  background-color: #b70170;
}

.genre-btns-container button:focus {
  border-color: #33ddff;
  color: #33ddff;
  background-color: #005566;
  outline: 0;
}

.movie-list-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-list-container .movie-container {
  padding: 16px;
  margin: 16px;
}

.movie-list-container h3 {
  font-size: 1rem;
  color: #00d4ff;
}

.movie-list-container h6 {
  color: #fe53bb;
}

#userInputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#userInputForm label,
#userInputForm input {
  width: 100%;
}

#userInputForm label {
  font-size: 2rem;
  font-weight: bold;
}

#userInputForm input#userInput {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #fe53bb;
  padding: 11px;
  margin: 10px;
  text-align: center;
  color: #fe53bb;
}

#userInputForm input[type="submit"] {
  border: 3px solid #00d4ff;
  color: #00d4ff;
  background-color: #002a33;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 5px;
}

#userInputForm:hover {
  border-color: #33ddff;
  color: #33ddff;
  background-color: #005566;
}

.pointsCounter h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00d4ff;
}
/*# sourceMappingURL=style.css.map */